*{
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#canvasContainer{
    position: relative;
    display: flex;
    justify-content: center;
}
#canvas{
    border-radius: 30px;
}
#sliderContainer{
    position: absolute;
    background: transparent;
    bottom: 5%;
}
button{
    background: transparent;
    font-size: 45px;
    color: white;
    border-radius: 30px;
}